# Analysis of Historical US President dataset

In [4]:
import numpy as np
import pandas as pd

In [12]:
# import the dataset to a pandas data frame
df = pd.read_csv("president_details.csv")
df.head()

,order,name,height_cm,height_in,weight_kg,weight_lb,body_mass_index,body_mass_index_range,birth_day,birth_month,...,term_begin_year,term_begin_date,term_end_day,term_end_month,term_end_year,term_end_date,presidency_begin_age,presidency_end_age,political_party,corrected_iq
0,1,George Washington,188,74.0,79.4,175,22.5,Normal,22,2,...,1789,30-04-1789,4.0,3.0,1797.0,04-03-1797,57,65.0,Unaffiliated,140.0
1,2,John Adams,170,67.0,83.9,185,29.0,Overweight,30,10,...,1797,04-03-1797,4.0,3.0,1801.0,04-03-1801,61,65.0,Federalist,155.0
2,3,Thomas Jefferson,189,74.5,82.1,181,23.0,Normal,13,4,...,1801,04-03-1801,4.0,3.0,1809.0,04-03-1809,57,65.0,Democratic-Republican,160.0
3,4,James Madison,163,64.0,55.3,122,20.8,Normal,16,3,...,1809,04-03-1809,4.0,3.0,1817.0,04-03-1817,57,65.0,Democratic-Republican,160.0
4,5,James Monroe,183,72.0,85.7,189,25.6,Overweight,28,4,...,1817,04-03-1817,4.0,3.0,1825.0,04-03-1825,58,66.0,Democratic-Republican,139.0

In [15]:
arr = df.to_numpy()
print(arr[:5,:])

[['1' 'George Washington' 188 74.0 79.4 175 22.5 'Normal' 22 2 1732
  '22-02-1732' 'Westmoreland County' 'Virginia' 14.0 12.0 1799.0
  '14-12-1799' 67.0 'Pisces' 30 4 1789 '30-04-1789' 4.0 3.0 1797.0
  '04-03-1797' 57 65.0 'Unaffiliated' 140.0]
 ['2' 'John Adams' 170 67.0 83.9 185 29.0 'Overweight' 30 10 1735
  '30-10-1735' 'Braintree' 'Massachusetts' 4.0 7.0 1826.0 '04-07-1826'
  90.0 'Scorpio' 4 3 1797 '04-03-1797' 4.0 3.0 1801.0 '04-03-1801' 61
  65.0 'Federalist' 155.0]
 ['3' 'Thomas Jefferson' 189 74.5 82.1 181 23.0 'Normal' 13 4 1743
  '13-04-1743' 'Shadwell' 'Virginia' 4.0 7.0 1826.0 '04-07-1826' 83.0
  'Aries' 4 3 1801 '04-03-1801' 4.0 3.0 1809.0 '04-03-1809' 57 65.0
  'Democratic-Republican' 160.0]
 ['4' 'James Madison' 163 64.0 55.3 122 20.8 'Normal' 16 3 1751
  '16-03-1751' 'Port Conway' 'Virginia' 28.0 6.0 1836.0 '28-06-1836' 85.0
  'Pisces' 4 3 1809 '04-03-1809' 4.0 3.0 1817.0 '04-03-1817' 57 65.0
  'Democratic-Republican' 160.0]
 ['5' 'James Monroe' 183 72.0 85.7 189 25.6 'Overweight' 28 4 1758
  '28-04-1758' 'Monroe Hall' 'Virginia' 4.0 7.0 1831.0 '04-07-1831' 73.0
  'Taurus' 4 3 1817 '04-03-1817' 4.0 3.0 1825.0 '04-03-1825' 58 66.0
  'Democratic-Republican' 139.0]]

In [18]:
arr1 = arr[:, (2, 4)]
print(arr1)

[[188 79.4]
 [170 83.9]
 [189 82.1]
 [163 55.3]
 [183 85.7]
 [171 92.1]
 [185 63.5]
 [168 74.4]
 [173 73.5]
 [183 72.6]
 [173 78.9]
 [173 104.3]
 [175 65.3]
 [178 73.5]
 [183 98.4]
 [193 83.9]
 [178 69.9]
 [173 70.8]
 [174 79.4]
 [183 90.7]
 [188 101.6]
 [180 117.9]
 [168 72.6]
 [170 90.3]
 [178 107.5]
 [182 154.2]
 [180 77.1]
 [183 78.5]
 [178 70.8]
 [182 84.8]
 [188 86.2]
 [175 75.7]
 [179 78.0]
 [185 79.4]
 [192 95.3]
 [182 79.4]
 [183 86.2]
 [177 80.3]
 [185 81.6]
 [188 88.5]
 [188 101.2]
 [182 84.4]
 [185 81.6]
 [191 107.5]
 [182 80.7]]

In [22]:
print(arr1.shape)
print(arr1.size)
print(arr1.reshape(2, 45))

(45, 2)
90
[[188 79.4 170 83.9 189 82.1 163 55.3 183 85.7 171 92.1 185 63.5 168 74.4
  173 73.5 183 72.6 173 78.9 173 104.3 175 65.3 178 73.5 183 98.4 193
  83.9 178 69.9 173 70.8 174 79.4 183 90.7 188 101.6 180 117.9 168]
 [72.6 170 90.3 178 107.5 182 154.2 180 77.1 183 78.5 178 70.8 182 84.8
  188 86.2 175 75.7 179 78.0 185 79.4 192 95.3 182 79.4 183 86.2 177 80.3
  185 81.6 188 88.5 188 101.2 182 84.4 185 81.6 191 107.5 182 80.7]]

In [23]:
height = arr1[:, 0]
weight = arr1[:, -1]

print(height)
print(weight)

[188 170 189 163 183 171 185 168 173 183 173 173 175 178 183 193 178 173
 174 183 188 180 168 170 178 182 180 183 178 182 188 175 179 185 192 182
 183 177 185 188 188 182 185 191 182]
[79.4 83.9 82.1 55.3 85.7 92.1 63.5 74.4 73.5 72.6 78.9 104.3 65.3 73.5
 98.4 83.9 69.9 70.8 79.4 90.7 101.6 117.9 72.6 90.3 107.5 154.2 77.1 78.5
 70.8 84.8 86.2 75.7 78.0 79.4 95.3 79.4 86.2 80.3 81.6 88.5 101.2 84.4
 81.6 107.5 80.7]

# Array indexing

In [24]:
# indexing the 6th element in the height array
#indexing the 22nt element in the height array
#indexing the 10th element in the height array

print(height[6])
print(height[22])
print(height[10])

185
168
173

# Arithmetic operations

In [25]:
np.mean(height)

180.15555555555557

In [26]:
np.min(height)

163

In [27]:
np.max(height)

193

In [29]:
#sort this height
sorted_height = np.sort(height)
print(sorted_height)

[163 168 168 170 170 171 173 173 173 173 174 175 175 177 178 178 178 178
 179 180 180 182 182 182 182 182 183 183 183 183 183 183 185 185 185 185
 188 188 188 188 188 189 191 192 193]